@font-face {
    font-family: Airbnb Font Bold;
    src: url(./font/airbnb-cereal-app-cufonfonts-webfont/AirbnbCerealBold.woff);
}
@font-face {
    font-family: Airbnb Font Book;
    src: url(./font/airbnb-cereal-app-cufonfonts-webfont/AirbnbCerealBook.woff)
}

/* Navigation Bar */

.navbar {
    font-family: "Airbnb Font Book", sans-serif, helvetica;
    font-size: 15px;
    font-weight: lighter;
    width: 100%;
    margin: 0 auto;
}

.navbar-brand > h1 {
    font-family: "Airbnb Font Book", sans-serif, helvetica;
    font-weight: lighter;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 12px;
}

.nav-link {
    color: black;
}

.navbar-brand {
    color: black;
}

@media (min-width: 1200px) {
    #navbarMenu {
      display: none !important;
    }
}

#navbar_dropdown {
    width: 100%;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1400px;
    }
}

.container-fluid, .container {
    padding-left: 24px;
    padding-right: 24px;
}

.hero {
    max-width: 1080px;
    margin: 0 auto;
    justify-content: center;
}

#intro_format {
    padding-left: 150px;
}

.intro {
    font-family: "Airbnb Font Bold", Helvetica, Sans-serif;
    font-size: 60px;
    display: flex;
}

.job_title {
    font-family: "Airbnb Font Bold", Helvetica, Sans-serif;
    font-size: 25px;
    display: flex;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    #intro_format {
        padding: 0;
    }
}
.drawing {
    display: flex;
}

.portfolio_title {
    display: flex;
    justify-content: center;
    font-family: "Airbnb Font Book", Helvetica, Sans-serif;
}

.portfolio_content {
    text-align: center;
}